{% extends 'thema_vr/pixie_base.html' %}
{% load static %}
{% block content %}
    <section id="aboutStory">
        <div class="container bg">
            <article class="head">
                <h4>About Us</h4>

                <h3>VR Rhythym League</h3>

                <p>
                    Aims to bring together all VR players in the world and to implement a competitive system to bring
                    players together with the industry.
                    <br/>
                    <br/>

                </p>
            </article>
            <!-- /HEAD -->

            <article class="footer">
                <div class="left">

                    <h4>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="19"
                             height="16" viewBox="0 0 19 16">
                            <image id="Vector_Smart_Object_copy_3" data-name="Vector Smart Object copy 3" width="19"
                                   height="16"
                                   xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAQCAMAAADDGrRQAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAzFBMVEUAAADX19fX19fX19fX19fX19fX19fX19fX19fX19f////////////////X19fX19fX19fX19fX19fX19f////////////////X19fX19fX19fX19fX19f////////////f39/////X19fX19fX19fX19fX19fd3d3////////////X19fX19fX19fX19f////////////////////X19fX19fX19fX19f////////////X19fX19fX19fX19fX19fX19fX19fX19cAAADc6kKKAAAAQnRSTlMAjf3KQ/ve8LYtYHpABaAUkfqdGoBBcHMjq/aDDRgEO8YgOMTpaQS8flgTUtrYTxZcfUgJbOrDKiRqbQ6E9+Vq3fyJdHXPAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAI1JREFUGNNjYAACRiZmFgY0wMrG7sTBieBzcfPwOvHxCwgyCQnDxERExcSd+BgYJCSdpKRloGKycvJOCopAlpKyk4qqGkSMgcFJXUNTC8jW1nHS1YOJ8ekbGBoZMzComZg6mZlDxRgYLCytQNqsbWzt8Ihh0YthB7Jb7NVwuRmb38Bh4IAaBuCwckQJKwBiRhd0mcnE2AAAAABJRU5ErkJggg=="/>
                        </svg>
                        VRoom Game Studio
                    </h4>

                    <p>
                        They bring applications that will contribute to the development of the sector with AR and VR
                        works they have done.
                    </p>
                </div>
                <!-- /LEFT -->

                <div class="right">
                    <ul>

                        <li style="min-width: 200px">
                            <a href="mailto:gedikismailcem@gmail.com/">
								<span class="info">
									<i class="icon"
                                       style="background-image: url('{% static 'thema_files/thema_content/uploads/2017/06/icon1.png' %}');"></i> Management								</span>
                                <span class="email" style="margin: auto 0px;">
{#									<span class="__cf_email__"#}
{#                                          data-cfemail="3f505959565c5a7f4f5647565a4c4e4a5e5b115c5052">[email&#160;protected]</span>								</span>#}
                               gedikismailcem@gmail.com

                                </span>
                            </a>
                        </li>
                        {#                        <li>#}
                        {#                            <a href="http://help@pixiesquad.com/">#}
                        {#								<span class="info">#}
                        {#									<i class="icon"#}
                        {#                                       style="background-image: url('{% static 'thema_vr/thema_content/uploads/2017/06/icon2.png' %}');"></i> Support								</span>#}
                        {#                                <span class="email">#}
                        {#									<span class="__cf_email__" data-cfemail="7b131e170b3b0b1203121e080a0e1a1f55181416">[email&#160;protected]</span>								</span>#}
                        {#                            </a>#}
                        {#                        </li>#}
                        {#                        <li>#}
                        {#                            <a href="http://news@pixiesquad.com/">#}
                        {#								<span class="info">#}
                        {#									<i class="icon"#}
                        {#                                       style="background-image: url('{% static 'thema_vr/thema_content/uploads/2017/06/icon3.png' %}');"></i> Press								</span>#}
                        {#                                <span class="email">#}
                        {#									<span class="__cf_email__" data-cfemail="573932202417273e2f3e3224262236337934383a">[email&#160;protected]</span>								</span>#}
                        {#                            </a>#}
                        {#                        </li>#}
                    </ul>
                </div>
                <!-- /RIGHT -->
            </article>
            <article class="footer">
                <div class="left">
                    <h4>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="19"
                             height="16" viewBox="0 0 19 16">
                            <image id="Vector_Smart_Object_copy_3" data-name="Vector Smart Object copy 3" width="19"
                                   height="16"
                                   xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAQCAMAAADDGrRQAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAzFBMVEUAAADX19fX19fX19fX19fX19fX19fX19fX19fX19f////////////////X19fX19fX19fX19fX19fX19f////////////////X19fX19fX19fX19fX19f////////////f39/////X19fX19fX19fX19fX19fd3d3////////////X19fX19fX19fX19f////////////////////X19fX19fX19fX19f////////////X19fX19fX19fX19fX19fX19fX19fX19cAAADc6kKKAAAAQnRSTlMAjf3KQ/ve8LYtYHpABaAUkfqdGoBBcHMjq/aDDRgEO8YgOMTpaQS8flgTUtrYTxZcfUgJbOrDKiRqbQ6E9+Vq3fyJdHXPAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAI1JREFUGNNjYAACRiZmFgY0wMrG7sTBieBzcfPwOvHxCwgyCQnDxERExcSd+BgYJCSdpKRloGKycvJOCopAlpKyk4qqGkSMgcFJXUNTC8jW1nHS1YOJ8ekbGBoZMzComZg6mZlDxRgYLCytQNqsbWzt8Ihh0YthB7Jb7NVwuRmb38Bh4IAaBuCwckQJKwBiRhd0mcnE2AAAAABJRU5ErkJggg=="/>
                        </svg>
                        VR Gaming Room
                    </h4>
                    <p> Was founded in 2018 in Muğla turkey. This organization devoted VREspor and made it a mission to
                        train the athletes of the future.</p>

                </div>
                <div class="right">
                    <ul>

                        <li style="min-width: 200px">
                            <a href="mailto:gedikismailcem@gmail.com/">
								<span class="info">
									<i class="icon"
                                       style="background-image: url('{% static 'thema_files/thema_content/uploads/2017/06/icon1.png' %}');"></i> Management								</span>
                                <span class="email" style="margin: auto 0px;">
{#									<span class="__cf_email__"#}
{#                                          data-cfemail="3f505959565c5a7f4f5647565a4c4e4a5e5b115c5052">[email&#160;protected]</span>								</span>#}
                               gedikismailcem@gmail.com

                                </span>
                            </a>
                        </li>
                        {#                        <li>#}
                        {#                            <a href="http://help@pixiesquad.com/">#}
                        {#								<span class="info">#}
                        {#									<i class="icon"#}
                        {#                                       style="background-image: url('{% static 'thema_vr/thema_content/uploads/2017/06/icon2.png' %}');"></i> Support								</span>#}
                        {#                                <span class="email">#}
                        {#									<span class="__cf_email__" data-cfemail="7b131e170b3b0b1203121e080a0e1a1f55181416">[email&#160;protected]</span>								</span>#}
                        {#                            </a>#}
                        {#                        </li>#}
                        {#                        <li>#}
                        {#                            <a href="http://news@pixiesquad.com/">#}
                        {#								<span class="info">#}
                        {#									<i class="icon"#}
                        {#                                       style="background-image: url('{% static 'thema_vr/thema_content/uploads/2017/06/icon3.png' %}');"></i> Press								</span>#}
                        {#                                <span class="email">#}
                        {#									<span class="__cf_email__" data-cfemail="573932202417273e2f3e3224262236337934383a">[email&#160;protected]</span>								</span>#}
                        {#                            </a>#}
                        {#                        </li>#}
                    </ul>
                </div>

            </article>
    </section>
    <!-- /ABOUT-STORY -->

    <section id="aboutStaff">

        <div class="container bg"
             style="background-image: url('{% static 'thema_files/thema_content/themes/pixiehuge/images/staff-bg.jpg' %}');">
            <ul class="header">


                <li class="active">
                    <a href="#management" data-toggle="tab">Team</a>
                </li>
                {#                <li>#}
                {#                    <a href="#journalists" data-toggle="tab">Developers</a>#}
                {#                </li>#}
                {#                <li>#}
                {#                    <a href="#analysts" data-toggle="tab">Community Managers</a>#}
                {#                </li>#}

            </ul>

            <div class="tab-content">
                <ul id="management" class="tab active" style="margin-left: auto;margin-right: auto;">
                    <li style="margin-left: auto;margin-right: auto;">
                        <img style="min-height: 191px" src="{% static 'league/img/cem.png' %}" alt="Cem Gedik">
                        <span class="role">Chief Executive Officer</span>
                        <span class="name">İ.Cem Gedik</span>


                        <a href="https://twitch.tv/foyabey" target="_blank">
                            <i class="fa fa-twitch"></i>
                        </a>
                        <a href="https://facebook.com/cemgedik" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/ismailcemgedik" target="_blank">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>

                    <li style="margin-left: auto;margin-right: auto;">
                        <img src="{% static 'league/img/vesikalik_t.png' %}" alt="Furkankykc">
                        <span class="role">Developer</span>
                        <span class="name">Furkan Kıyıkçı</span>


                        <a href="https://github.com/furkankykc" target="_blank">
                            <i class="fa fa-github"></i>
                        </a>
                        {#                        <a href="https://twitter.com/furkankykc" target="_blank">#}
                        {#                            <i class="fa fa-twitter"></i>#}
                        {#                        </a>#}
                        {#                        <a href="https://facebook.com/furkankykc" target="_blank">#}
                        {#                            <i class="fa fa-facebook"></i>#}
                        {#                        </a>#}
                        <a href="https://instagram.com/furkankykc" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/furkankykc" target="_blank">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li style="margin-left: auto;margin-right: auto;">
                        <img src="{% static 'league/img/heyfalcon.png' %}" alt="Hey Falcon">
                        <span class="role">Community Manager</span>
                        <span class="name">Falcon</span>


                        <a href="https://twitter.com/heyfalcon_" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="https://twitch.tv/heyfalcon_" target="_blank">
                            <i class="fa fa-twitch"></i>
                        </a>
                        <a href="https://instagram.com/heyfalcon_" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li style="margin-left: auto;margin-right: auto;">
                        <img  src="{% static 'league/img/ahmet.png' %}" alt="Ahmet Can Aygün">
                        <span class="role">Designer</span>
                        <span class="name">Ahmet Can Aygün</span>

                        <a href="https://behance.net/ahmtcn" target="_blank">
                            <i class="fa fa-behance"></i>
                        </a>
                        <a href="https://instagram.com/a.cangram" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>

                        <a href="https://www.linkedin.com/in/ahmetcan-ayg%C3%BCn-a5b54814b" target="_blank">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>

                </ul>

                <!-- /TAB -->

            </div>
        </div>

    </section>
    <!-- /ABOUT-STAFF -->


    {#    <section id="aboutInfo" class="container">#}
    {##}
    {#        <div class="left">#}
    {#            <h3>Theme for an eSports Organization?</h3>#}
    {##}
    {#            <h4>Want to use our huge branding?</h4>#}
    {##}
    {#        </div>#}
    {#        <!-- /LEFT -->#}
    {##}
    {#        <div class="right">#}
    {#            <a href="../../orange-elite/thema_content/uploads/2017/06/download-2.zip" class="btn btn-transparent">#}
    {#                Download media kit </a>#}
    {#        </div>#}
    {#        <!-- /LEFT -->#}
    {##}
    {#    </section>#}
    <!-- /ABOUTINFO -->

    <div class="container no-padding">
    </div>

{% endblock %}
