{% extends 'thema_vr/pixie_base.html' %}
{% block content %}

    <section class="feature-section spad">

        <div class="container">
            {% for week in season.week %}
                {% cycle '<div class="row">' '' '' '' %}
                <div class="col-lg-3 col-md-6 p-0">
                    <div class="feature-item set-bg" data-setbg="{{ season.game.logo.url }}">
                        <span class="cata new">{{ season.get_difficulty }}</span>
                        <div class="fi-content text-white">
                            <h5>
                                <a href="{% url 'show_songs' week.season.game.slug week.season.slug week.slug %}">{{ week.name }}</a>
                            </h5>
                            {% for song in week.songs.all|slice:":5" %}
                                <p>{{ song.name }} </p>
                            {% endfor %}
                            <a href="#" class="fi-comment">{{ week.description }}</a>
                        </div>
                    </div>
                </div>

                {% cycle '' '' '' '</div>' %}

            {% endfor %}


        </div>
    </section>


{% endblock content %}
