{% extends 'thema_vr/pixie_base.html' %}
{% load static %}
{% block content %}

    <div class="container split-flex">
        <section id="news" class="news-page nobg">
            <div class="section-header">
                <article class="topbar">
                    <h3>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7px"
                             height="8px">
                            <path fill-rule="evenodd" fill="rgb(57, 191, 253)"
                                  d="M-0.000,0.435 C-0.000,0.805 -0.000,7.292 -0.000,7.546 C-0.000,7.877 0.338,8.123 0.672,7.930 C0.940,7.775 6.293,4.649 6.750,4.381 C7.050,4.205 7.045,3.786 6.750,3.611 C6.421,3.415 1.048,0.272 0.658,0.054 C0.373,-0.106 -0.000,0.071 -0.000,0.435 Z"/>
                        </svg>
                        Latest News
                    </h3>
                </article>
                <!-- /TOP-BAR -->

            </div>
            <!-- /SECTION-HEADER -->

            <div class="content">

                <article
                        class="news-box large post-143 post type-post status-publish format-standard has-post-thumbnail hentry category-overwatch"
                        style="background-image: url('{% static 'thema_files/thema_content/uploads/2017/06/post25.jpg' %}');"
                        onclick="window.location = '../renegades-defeat-signature-to-minor-playoffs/index.html'">
                    <a href="../category/overwatch/index.html" class="category">
                        Overwatch </a>

                    <div class="details">
                        <a href="../renegades-defeat-signature-to-minor-playoffs/index.html">
                            RENEGADES DEFEAT SIGNATURE; TO MINOR PLAYOFFS </a>

                        <span class="date">
                                June 16, 2017                                                            </span>
                    </div>
                    <!-- /DETAILS -->
                </article>
                <article
                        class="news-box post-140 post type-post status-publish format-standard has-post-thumbnail hentry category-counter-strike"
                        style="background-image: url('{% static 'thema_files/thema_content/uploads/2017/06/post26.jpg' %}');"
                        onclick="window.location = '../scream-now-we-know-were-capable-of-winning/index.html'">


                    <div class="details">
                        <a href="../category/counter-strike/index.html" class="category">
                            Counter Strike </a>

                        <a href="../scream-now-we-know-were-capable-of-winning/index.html">
                            SCREAM: &#8220;NOW WE KNOW WE&#8217;RE CAPABLE OF </a>

                        <span class="date">
                                June 16, 2017                                                            </span>
                    </div>
                    <!-- /DETAILS -->
                </article>
                <article
                        class="news-box post-137 post type-post status-publish format-standard has-post-thumbnail hentry category-dota2"
                        style="background-image: url('{% static 'thema_files/thema_content/uploads/2017/06/post27.jpg' %}');"
                        onclick="window.location = '../dh-valencia-and-atlanta-qualifiers-announced/index.html'">


                    <div class="details">
                        <a href="../category/dota2/index.html" class="category">
                            Dota2 </a>
<new product="ij" category="105" title="Multiline search and replace in the current file"/>
<new product="ij" category="105" title="Improved search and replace in the current file"/>
<new product="ij" category="105" title="Regexp shows replacement preview"/>
                        <a href="../dh-valencia-and-atlanta-qualifiers-announced/index.html">
                            DH VALENCIA AND ATLANTA QUALIFIERS ANNOUNCED </a>

                        <span class="date">
                                June 16, 2017                                                            </span>
                    </div>
                    <!-- /DETAILS -->
                </article>
                <article
                        class="news-box post-134 post type-post status-publish format-standard has-post-thumbnail hentry category-dota2 category-uncategorized"
                        style="background-image: url('{% static 'thema_files/thema_content/uploads/2017/06/post28.jpg' %}');"
                        onclick="window.location = '../winners-and-losers-of-esl-pro-league-s5-finals/index.html'">


                    <div class="details">
                        <a href="../category/dota2/index.html" class="category">
                            Dota2 </a>

                        <a href="../winners-and-losers-of-esl-pro-league-s5-finals/index.html">
                            WINNERS AND LOSERS OF ESL PRO LEAGUE S5 FINALS </a>

                        <span class="date">
                                June 16, 2017                                                            </span>
                    </div>
                    <!-- /DETAILS -->
                </article>
                <article
                        class="news-box post-122 post type-post status-publish format-standard has-post-thumbnail hentry category-counter-strike category-overwatch tag-black-panthers tag-rhyno-domynos tag-rilee"
                        style="background-image: url('{% static 'thema_files/thema_content/uploads/2017/06/post29.jpg' %}');"
                        onclick="window.location = '../shahzam-returns-to-misfits-active-lineup/index.html'">


                    <div class="details">
                        <a href="../category/counter-strike/index.html" class="category">
                            Counter Strike </a>

                        <a href="../shahzam-returns-to-misfits-active-lineup/index.html">
                            SHAHZAM RETURNS TO MISFITS&#8217; ACTIVE LINEUP </a>

                        <span class="date">
                                June 16, 2017                                                            </span>
                    </div>
                    <!-- /DETAILS -->
                </article>
                <article
                        class="news-box post-118 post type-post status-publish format-standard has-post-thumbnail hentry category-dota2 tag-black-panthers tag-rhyno-domynos tag-rilee"
                        style="background-image: url('{% static 'thema_files/thema_content/uploads/2017/06/post4.jpg' %}');"
                        onclick="window.location = '../gatekeepers-sign-team-on-a-permanent-basis/index.html'">


                    <div class="details">
                        <a href="../category/dota2/index.html" class="category">
                            Dota2 </a>

                        <a href="../gatekeepers-sign-team-on-a-permanent-basis/index.html">
                            GATEKEEPERS SIGN TEAM ON A PERMANENT BASIS </a>

                        <span class="date">
                                June 16, 2017                                                            </span>
                    </div>
                    <!-- /DETAILS -->
                </article>
                <article
                        class="news-box post-115 post type-post status-publish format-standard has-post-thumbnail hentry category-counter-strike tag-cursed-warriors"
                        style="background-image: url('{% static 'thema_files/thema_content/uploads/2017/06/post3.jpg' %}');"
                        onclick="window.location = '../jw-im-sure-sweden-will-be-back-on-top-again/index.html'">


                    <div class="details">
                        <a href="../category/counter-strike/index.html" class="category">
                            Counter Strike </a>

                        <a href="../jw-im-sure-sweden-will-be-back-on-top-again/index.html">
                            JW: I&#8217;M SURE SWEDEN WILL BE BACK ON TOP AGAIN </a>

                        <span class="date">
                                June 16, 2017                                                            </span>
                    </div>
                    <!-- /DETAILS -->
                </article>
                <article
                        class="news-box post-112 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized tag-cursed-warriors tag-midnight-turtles"
                        style="background-image: url('{% static 'thema_files/thema_content/uploads/2017/06/post2.jpg' %}');"
                        onclick="window.location = '../big-beat-kinguin-in-bucharest/index.html'">


                    <div class="details">
                        <a href="../category/uncategorized/index.html" class="category">
                            Uncategorized </a>

                        <a href="../big-beat-kinguin-in-bucharest/index.html">
                            BIG BEAT KINGUIN IN BUCHAREST </a>

                        <span class="date">
                                June 16, 2017                                                            </span>
                    </div>
                    <!-- /DETAILS -->
                </article>
                <article
                        class="news-box post-106 post type-post status-publish format-standard has-post-thumbnail hentry category-counter-strike tag-midnight-turtles tag-rilee"
                        style="background-image: url('{% static 'thema_files/thema_content/uploads/2017/06/post1.jpg' %}');"
                        onclick="window.location = '../sk-invited-to-esl-one-new-york/index.html'">


                    <div class="details">
                        <a href="../category/counter-strike/index.html" class="category">
                            Counter Strike </a>

                        <a href="../sk-invited-to-esl-one-new-york/index.html">
                            FOX: &#8220;FIRST LAN IS HARD, BUT OUR GOAL IS CLEAR&#8221; </a>

                        <span class="date">
                                June 16, 2017                                                            </span>
                    </div>
                    <!-- /DETAILS -->
                </article>
                <article
                        class="news-box post-1178 post type-post status-publish format-standard hentry category-markup tag-content-2 tag-css tag-formatting-2 tag-html tag-markup-2"
                        style="background-image: url('');"
                        onclick="window.location = '../markup-html-tags-and-formatting/index.html'">


                    <div class="details">
                        <a href="../category/markup/index.html" class="category">
                            Markup </a>

                        <a href="../markup-html-tags-and-formatting/index.html">
                            Markup: HTML Tags and Formatting </a>

                        <span class="date">
                                January 11, 2013                                                            </span>
                    </div>
                    <!-- /DETAILS -->
                </article>
            </div>
            <!-- /NEWS -->

        </section>
        <!-- /NEWS -->

        <aside>

            <article id="pixiehuge_latest_news_widget-2" class="latest-article">
                <div class="section-header">
                    <article class="topbar">
                        <h3>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 width="7px" height="8px">
                                <path fill-rule="evenodd" fill="rgb(57, 191, 253)"
                                      d="M-0.000,0.435 C-0.000,0.805 -0.000,7.292 -0.000,7.546 C-0.000,7.877 0.338,8.123 0.672,7.930 C0.940,7.775 6.293,4.649 6.750,4.381 C7.050,4.205 7.045,3.786 6.750,3.611 C6.421,3.415 1.048,0.272 0.658,0.054 C0.373,-0.106 -0.000,0.071 -0.000,0.435 Z"/>
                            </svg>
                            Most Popular News
                        </h3>
                    </article>
                </div>
                <ul class="widget">
                    <li>
                        <div class="thumbnail"
                             style="background-image: url('{% static 'thema_files/thema_content/uploads/2017/06/post25.jpg' %}');"></div>
                        <div class="details">
                    <span class="categories">
                        <a href="../category/overwatch/index.html"
                           class="category">Overwatch</a>                    </span>
                            <a href="../renegades-defeat-signature-to-minor-playoffs/index.html" class="title">
                                RENEGADES DEFEAT SIGNATURE; TO MINOR PLAYOFFS </a>
                            <span class="date">June 16, 2017</span>
                        </div>
                    </li>
                    <li>
                        <div class="thumbnail"
                             style="background-image: url('{% static 'thema_files/thema_content/uploads/2017/06/post26.jpg' %}');"></div>
                        <div class="details">
                    <span class="categories">
                        <a href="../category/counter-strike/index.html" class="category">Counter Strike</a>                    </span>
                            <a href="../scream-now-we-know-were-capable-of-winning/index.html" class="title">
                                SCREAM: &#8220;NOW WE KNOW WE&#8217;RE CAPABLE OF WINNING&#8221; </a>
                            <span class="date">June 16, 2017</span>
                        </div>
                    </li>
                    <li>
                        <div class="thumbnail"
                             style="background-image: url('{% static 'thema_files/thema_content/uploads/2017/06/post27.jpg' %}');"></div>
                        <div class="details">
                    <span class="categories">
                        <a href="../category/dota2/index.html" class="category">Dota2</a>                    </span>
                            <a href="../dh-valencia-and-atlanta-qualifiers-announced/index.html" class="title">
                                DH VALENCIA AND ATLANTA QUALIFIERS ANNOUNCED </a>
                            <span class="date">June 16, 2017</span>
                        </div>
                    </li>
                    <li>
                        <div class="thumbnail"
                             style="background-image: url('{% static 'thema_files/thema_content/uploads/2017/06/post28.jpg' %}');"></div>
                        <div class="details">
                    <span class="categories">
                        <a href="../category/dota2/index.html" class="category">Dota2</a><i class="bull">&bull;</i> <a
                            href="../category/uncategorized/index.html" class="category">Uncategorized</a>                    </span>
                            <a href="../winners-and-losers-of-esl-pro-league-s5-finals/index.html" class="title">
                                WINNERS AND LOSERS OF ESL PRO LEAGUE S5 FINALS </a>
                            <span class="date">June 16, 2017</span>
                        </div>
                    </li>
                    <li>
                        <div class="thumbnail"
                             style="background-image: url('{% static 'thema_files/thema_content/uploads/2017/06/post29.jpg' %}');"></div>
                        <div class="details">
                    <span class="categories">
                        <a href="../category/counter-strike/index.html" class="category">Counter Strike</a><i
                            class="bull">&bull;</i> <a href="../category/overwatch/index.html" class="category">Overwatch</a>                    </span>
                            <a href="../shahzam-returns-to-misfits-active-lineup/index.html" class="title">
                                SHAHZAM RETURNS TO MISFITS&#8217; ACTIVE LINEUP </a>
                            <span class="date">June 16, 2017</span>
                        </div>
                    </li>
                </ul>
            </article>
            <article id="pixiehuge_most_popular_news_widget-2" class="most-popular">
                <div class="section-header">
                    <article class="topbar">
                        <h3>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 width="7px" height="8px">
                                <path fill-rule="evenodd" fill="rgb(57, 191, 253)"
                                      d="M-0.000,0.435 C-0.000,0.805 -0.000,7.292 -0.000,7.546 C-0.000,7.877 0.338,8.123 0.672,7.930 C0.940,7.775 6.293,4.649 6.750,4.381 C7.050,4.205 7.045,3.786 6.750,3.611 C6.421,3.415 1.048,0.272 0.658,0.054 C0.373,-0.106 -0.000,0.071 -0.000,0.435 Z"/>
                            </svg>
                            Latest News
                        </h3>
                    </article>
                </div>
                <ul class="widget most-popular">
                    <li>
                        <div class="details">
                    <span class="categories">
                        <a href="../category/template-2/index.html" class="category">Template</a><i
                            class="bull">&bull;</i> <a href="../category/uncategorized/index.html" class="category">Uncategorized</a>                    </span>
                            <a href="../template-comments/index.html" class="title">
                                Template: Comments </a>
                            <span class="date">January 3, 2012</span>
                        </div>

                        <a href="../template-comments/index.html" class="right">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 width="12px" height="10px">
                                <path fill-rule="evenodd" fill="rgb(175, 175, 188)"
                                      d="M6.245,0.240 C5.910,0.565 5.910,1.092 6.245,1.418 L9.065,4.160 L0.855,4.160 C0.382,4.160 -0.001,4.533 -0.001,4.993 C-0.001,5.453 0.382,5.826 0.855,5.826 L9.065,5.826 L6.245,8.569 C5.910,8.894 5.910,9.421 6.245,9.746 C6.579,10.071 7.121,10.071 7.456,9.746 L11.738,5.582 C11.893,5.431 11.989,5.223 11.989,4.993 C11.989,4.763 11.893,4.555 11.738,4.404 L7.456,0.240 C7.121,-0.085 6.579,-0.085 6.245,0.240 Z"/>
                            </svg>
                        </a>
                    </li>

                    <li>
                        <div class="details">
                    <span class="categories">
                        <a href="../category/template-2/index.html" class="category">Template</a><i
                            class="bull">&bull;</i> <a href="../category/uncategorized/index.html" class="category">Uncategorized</a>                    </span>
                            <a href="../template-pingbacks-an-trackbacks/index.html" class="title">
                                Template: Pingbacks And Trackbacks </a>
                            <span class="date">January 1, 2012</span>
                        </div>

                        <a href="../template-pingbacks-an-trackbacks/index.html" class="right">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 width="12px" height="10px">
                                <path fill-rule="evenodd" fill="rgb(175, 175, 188)"
                                      d="M6.245,0.240 C5.910,0.565 5.910,1.092 6.245,1.418 L9.065,4.160 L0.855,4.160 C0.382,4.160 -0.001,4.533 -0.001,4.993 C-0.001,5.453 0.382,5.826 0.855,5.826 L9.065,5.826 L6.245,8.569 C5.910,8.894 5.910,9.421 6.245,9.746 C6.579,10.071 7.121,10.071 7.456,9.746 L11.738,5.582 C11.893,5.431 11.989,5.223 11.989,4.993 C11.989,4.763 11.893,4.555 11.738,4.404 L7.456,0.240 C7.121,-0.085 6.579,-0.085 6.245,0.240 Z"/>
                            </svg>
                        </a>
                    </li>

                    <li>
                        <div class="details">
                    <span class="categories">
                        <a href="../category/template-2/index.html" class="category">Template</a><i
                            class="bull">&bull;</i> <a href="../category/uncategorized/index.html" class="category">Uncategorized</a>                    </span>
                            <a href="../template-password-protected/index.html" class="title">
                                Protected: Template: Password Protected (the password is &#8220;enter&#8221;) </a>
                            <span class="date">January 4, 2012</span>
                        </div>

                        <a href="../template-password-protected/index.html" class="right">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 width="12px" height="10px">
                                <path fill-rule="evenodd" fill="rgb(175, 175, 188)"
                                      d="M6.245,0.240 C5.910,0.565 5.910,1.092 6.245,1.418 L9.065,4.160 L0.855,4.160 C0.382,4.160 -0.001,4.533 -0.001,4.993 C-0.001,5.453 0.382,5.826 0.855,5.826 L9.065,5.826 L6.245,8.569 C5.910,8.894 5.910,9.421 6.245,9.746 C6.579,10.071 7.121,10.071 7.456,9.746 L11.738,5.582 C11.893,5.431 11.989,5.223 11.989,4.993 C11.989,4.763 11.893,4.555 11.738,4.404 L7.456,0.240 C7.121,-0.085 6.579,-0.085 6.245,0.240 Z"/>
                            </svg>
                        </a>
                    </li>

                    <li>
                        <div class="details">
                    <span class="categories">
                        <a href="../category/edge-case-2/index.html" class="category">Edge Case</a>                    </span>
                            <a href="../edge-case-no-content/index.html" class="title">
                                Edge Case: No Content </a>
                            <span class="date">August 6, 2009</span>
                        </div>

                        <a href="../edge-case-no-content/index.html" class="right">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 width="12px" height="10px">
                                <path fill-rule="evenodd" fill="rgb(175, 175, 188)"
                                      d="M6.245,0.240 C5.910,0.565 5.910,1.092 6.245,1.418 L9.065,4.160 L0.855,4.160 C0.382,4.160 -0.001,4.533 -0.001,4.993 C-0.001,5.453 0.382,5.826 0.855,5.826 L9.065,5.826 L6.245,8.569 C5.910,8.894 5.910,9.421 6.245,9.746 C6.579,10.071 7.121,10.071 7.456,9.746 L11.738,5.582 C11.893,5.431 11.989,5.223 11.989,4.993 C11.989,4.763 11.893,4.555 11.738,4.404 L7.456,0.240 C7.121,-0.085 6.579,-0.085 6.245,0.240 Z"/>
                            </svg>
                        </a>
                    </li>

                    <li>
                        <div class="details">
                    <span class="categories">
                        <a href="../category/edge-case-2/index.html" class="category">Edge Case</a>                    </span>
                            <a href="../edge-case-many-tags/index.html" class="title">
                                Edge Case: Many Tags </a>
                            <span class="date">June 1, 2009</span>
                        </div>

                        <a href="../edge-case-many-tags/index.html" class="right">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 width="12px" height="10px">
                                <path fill-rule="evenodd" fill="rgb(175, 175, 188)"
                                      d="M6.245,0.240 C5.910,0.565 5.910,1.092 6.245,1.418 L9.065,4.160 L0.855,4.160 C0.382,4.160 -0.001,4.533 -0.001,4.993 C-0.001,5.453 0.382,5.826 0.855,5.826 L9.065,5.826 L6.245,8.569 C5.910,8.894 5.910,9.421 6.245,9.746 C6.579,10.071 7.121,10.071 7.456,9.746 L11.738,5.582 C11.893,5.431 11.989,5.223 11.989,4.993 C11.989,4.763 11.893,4.555 11.738,4.404 L7.456,0.240 C7.121,-0.085 6.579,-0.085 6.245,0.240 Z"/>
                            </svg>
                        </a>
                    </li>

                </ul>
            </article>
        </aside>
    </div>
    <!-- /CONTAINER -->
{% endblock %}