{% extends 'thema_vr/pixie_base.html' %}

{% load static %}
{% block content %}

        <section id="aboutStory">
        <div class="container bg">

            <!-- /HEAD -->

            <article class="footer">
                <div class="left">

                    <h4 style="color:#990073">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="19"
                             height="16" viewBox="0 0 19 16">
                            <image id="Vector_Smart_Object_copy_3" data-name="Vector Smart Object copy 3" width="19"
                                   height="16"
                                   xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAQCAMAAADDGrRQAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAzFBMVEUAAADX19fX19fX19fX19fX19fX19fX19fX19fX19f////////////////X19fX19fX19fX19fX19fX19f////////////////X19fX19fX19fX19fX19f////////////f39/////X19fX19fX19fX19fX19fd3d3////////////X19fX19fX19fX19f////////////////////X19fX19fX19fX19f////////////X19fX19fX19fX19fX19fX19fX19fX19cAAADc6kKKAAAAQnRSTlMAjf3KQ/ve8LYtYHpABaAUkfqdGoBBcHMjq/aDDRgEO8YgOMTpaQS8flgTUtrYTxZcfUgJbOrDKiRqbQ6E9+Vq3fyJdHXPAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAI1JREFUGNNjYAACRiZmFgY0wMrG7sTBieBzcfPwOvHxCwgyCQnDxERExcSd+BgYJCSdpKRloGKycvJOCopAlpKyk4qqGkSMgcFJXUNTC8jW1nHS1YOJ8ekbGBoZMzComZg6mZlDxRgYLCytQNqsbWzt8Ihh0YthB7Jb7NVwuRmb38Bh4IAaBuCwckQJKwBiRhd0mcnE2AAAAABJRU5ErkJggg=="/>
                        </svg>
                        Registering restricted!
                    </h4>

                    <p>
                       Registering and login recricted for alpha usages only for further informations join us on Discord!

                    </p>
                </div>
                <!-- /LEFT -->

                <div class="right">
                      <iframe src="https://discordapp.com/widget?id=192739645442883584&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>

                </div>
                <!-- /RIGHT -->
            </article>
        </div>
    </section>
{% endblock %}