{% load static %}
{#<nav class="navbar navbar-expand-lg navbar-dark bg-dark">#}
{#    <a class="navbar-brand" href="#">VR Rhythm League</a>#}
{#    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"#}
{#            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#        <span class="navbar-toggler-icon"></span>#}
{#    </button>#}
{##}
{#    <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#        <ul class="navbar-nav mr-auto">#}
{#            <li class="nav-item active">#}
{#                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>#}
{#            </li>#}
{#            <li class="nav-item active">#}
{#                <a class="nav-link" href="{% url 'dashboard' %}">Dashboard <span class="sr-only">(current)</span></a>#}
{#            </li>#}
{#            <li class="nav-item active">#}
{#                <a class="nav-link" href="{% url 'dashboard' %}">Dashboard <span class="sr-only">(current)</span>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="#">Link</a>#}
{#            </li>#}
{##}
{#            <li class="nav-item">#}
{#                <a class="nav-link disabled" href="#">Disabled</a>#}
{#            </li>#}
{#        </ul>#}
{##}
{#        <ul class="navbar-nav  dropdown-menu-right">#}
{#            <li class="nav-item dropdown">#}
{#                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"#}
{#                   aria-haspopup="true" aria-expanded="false">#}
{#                    Dropdown#}
{#                </a>#}
{#                <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                    <a class="dropdown-item" href="#">Action</a>#}
{#                    <a class="dropdown-item" href="#">Another action</a>#}
{#                    <div class="dropdown-divider"></div>#}
{#                    <a class="dropdown-item" href="#">Something else here</a>#}
{#                </div>#}
{#            </li>#}
{#        </ul>#}
{#        <form class="form-inline my-2 my-lg-0">#}
{#            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
{#            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#        </form>#}
{##}
{#    </div>#}
{#</nav>#}

<!-- Header section -->
<header class="header-section">
    <div class="container">
        <!-- logo -->
        <a class="site-logo" href="{% url 'home' %}">
            <img src="{% static 'game_site/img/logo.png' %}" alt="">
        </a>
        <div class="user-panel">
            <a href="{% url 'login' %}">Login</a> / <a href="{% url 'signup' %}">Register</a>
        </div>
        <!-- responsive -->
        <div class="nav-switch">
            <i class="fa fa-bars"></i>
        </div>
        <!-- site menu -->
        <nav class="main-menu">
            <ul>

                <li><a  href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a></li>
                <li><a  href="{% url 'dashboard' %}">Dashboard <span class="sr-only">(current)</span></a></li>
                <li><a  href="{% url 'leagues' %}">Leagues <span class="sr-only">(current)</span></a></li>
                <li><a href="community.html">Forums</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- Header section end -->
